@model RouteMaster.Models.Dto.Accommodation.NavDto
<style>
    .nav li {
        border-bottom: 4px solid #6b6b6b;
    }


    li.completed {
        border-bottom: 4px solid #696cffdd;
    }

    .main-nav > li {
        display: table-cell;
        white-space: normal;
        text-align: center;
        height: 50px;
        position: relative;
        margin: 0 20px
    }

    .nav-li > a {
        background-color: transparent;
        border: none;
        /*border-bottom: 0;*/
        /*border-right: none;*/
        color: #333;
        display: block;
        font-size: 13px;
        font-weight: normal;
        height: 100%;
        line-height: 1.15;
        padding: 16px;
        position: relative;
        min-height: 0;
        text-decoration: none;
        transition: background 0.2s linear;
        word-wrap: break-word;
    }

        .nav-li > a:hover {
            color: #696cff
        }

    a.completed:before {
        content: "✔";
        color: #008009;
        position: absolute;
        margin-left: -26px;
        margin-top: -4px;
        font-size: 16px;
    }

  
</style>

<div class="nav-steps" data-parameter="@Model.Parameter">
    <div>
        <ul id="js-main-nav" class="nav main-nav row-cols-4 justify-content-center mb-3">
            <li class="nav-li" id="accommodation-nav">
                <a href="/Accommodations/details/@Model.Id" class="">
                    基本資訊
                </a>
            </li>

            <li class="nav-li" id="room-nav">
                <a href="/Accommodations/RoomsIndex/@Model.Id" class="">
                    客房列表
                </a>
            </li>

            <li class="nav-li" id="serviceInfo-nav">
                <a href="/Accommodations/EditServiceInfo/@Model.Id" class="">
                    設施與服務
                </a>
            </li>
        </ul>
    </div>
</div>

<script>

    const accommodation = document.querySelector("#accommodation-nav");
    const room = document.querySelector("#room-nav");
    const serviceInfo = document.querySelector("#serviceInfo-nav");
    const parameter = "@Model.Parameter";
    //const parameter = document.querySelector(".nav-steps").getAttribute("data-parameter");

    switch (parameter) {
        case "accommodation":
            accommodation.classList.add('completed');
            accommodation.children[0].classList.add('completed');
            break;
        case "room":
            room.classList.add('completed')
            room.children[0].classList.add('completed');
            break;
        case "serviceInfo":
            serviceInfo.classList.add('completed')
            serviceInfo.children[0].classList.add('completed');
            break;
    }

</script>