@model IEnumerable<RouteMaster.Models.ViewModels.AccommodationIndexVM>

@{
    ViewBag.Title = "MyAccommodationIndex";
}

    <div class="my-2 d-flex justify-content-end ">
        <h2 class="me-auto">我的住宿</h2>
        <a href="/Accommodations/Create" class="btn btn-outline-primary d-flex align-items-center">新增其他住宿</a>
    </div>


@{ Html.RenderPartial("_AccommodationCardPartial");}
