.drop-zone {
    position: relative; /* 添加相对定位 */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    text-align: center;
    min-height: 100px;
}

    .drop-zone p {
        /*position: absolute;*/ /* 添加绝对定位 */
        /*top: 50%;*/ /* 将文本置于父元素中央 */
        /*left: 50%;*/ /* 将文本置于父元素中央 */
        /*transform: translate(-50%, -50%);*/ /* 使用transform属性调整文本位置 */
        margin: 0;
    }

.image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.preview-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
    border: 1px solid #ccc;
}

#files {
    display: none;
}

#fileLabel {
    display: block;
    position: absolute; /* 添加绝对定位 */
    top: 50%; /* 将文本置于父元素中央 */
    left: 50%; /* 将文本置于父元素中央 */
    transform: translate(-50%, -50%); /* 使用transform属性调整文本位置 */
    cursor: pointer;
    margin: 0;
}

.small {
    font-size: 14px;
    color: #bdbdbd;
    margin: 20px;
}

i {
    margin: 0 10px;
}

.progress-bar-div {
    height: 20px;
    margin-right: 32px;
    border-radius: 5px;
    border: solid 1px black;
    width: 185px;
}

.progress-bar {
    border-radius: 5px;
    background-color: #1E90FF;
}
