.drop-zone {
    position: relative; /* 添加相对定位 */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    text-align: center;
    min-height: 100px;
}

    .drop-zone p {
        /*position: absolute;*/ /* 添加绝对定位 */
        /*top: 50%;*/ /* 将文本置于父元素中央 */
        /*left: 50%;*/ /* 将文本置于父元素中央 */
        /*transform: translate(-50%, -50%);*/ /* 使用transform属性调整文本位置 */
        margin: 0;
    }

.image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.preview-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
    border: 1px solid #ccc;
}

#files {
    display: none;
}

#fileLabel {
    display: block;
    position: absolute; /* 添加绝对定位 */
    top: 50%; /* 将文本置于父元素中央 */
    left: 50%; /* 将文本置于父元素中央 */
    transform: translate(-50%, -50%); /* 使用transform属性调整文本位置 */
    cursor: pointer;
    margin: 0;
}

.small {
    font-size: 14px;
    color: #bdbdbd;
    margin: 20px;
}

i {
    margin: 0 10px;
}

.progress-bar-div {
    height: 20px;
    margin-right: 30px;
    border-radius: 5px;
    border: solid 1px black;
    width: 180px;
}

.progress-bar {
    border-radius: 5px;
    background-color: #1E90FF;
}

.edit-btn .delete-btn {
    margin: 10px;
}

.big {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000088;
    display: none;
    justify-content: center;
    align-items: center;
}

.bigShow {
    display:flex;
    z-index:1080;
}

.big .area {
    width: 90%;
    height: 99%;
    background-color: #fff;
}

    .big .area .content {
        height: 95%;
    }
.btns {
    height: 5%;
    background-color: #514e4e
}

    .big .area .content img {
        width: 100%;
        height:100%;
        object-fit:cover;
    }

.btn-css:hover {
    color: #fff;
    background-color: #696cff;
    border-color: #696cff;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
    display: inline-block;
    font-weight: 400;
    line-height: 1.53;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.4375rem 1.25rem;
    font-size: 0.9375rem;
    border-radius: 0.375rem;
    transition: all 0.2s ease-in-out;
}

.btn-css-danger {
    color: #ff3e1d
}

    .btn-css-danger:hover {
        color: #fff;
        background-color: #ff3E1D !important;
        border-color: #696cff;
        box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
        display: inline-block;
        font-weight: 400;
        line-height: 1.53;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.4375rem 1.25rem;
        font-size: 0.9375rem;
        border-radius: 0.375rem;
        transition: all 0.2s ease-in-out;
    }
    
    .btn-css-warning {
    color: #ffab00
}

        .btn-css-warning:hover {
            color: #fff;
            background-color: #ffab00 !important;
            border-color: #ffab00;
            box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
            display: inline-block;
            font-weight: 400;
            line-height: 1.53;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
            border: 1px solid transparent;
            padding: 0.4375rem 1.25rem;
            font-size: 0.9375rem;
            border-radius: 0.375rem;
            transition: all 0.2s ease-in-out;
        }
        .btn-css-success {
    color: #198754
}

            .btn-css-success:hover {
                color: #fff;
                background-color: #198754 !important;
                border-color: #198754;
                box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
                display: inline-block;
                font-weight: 400;
                line-height: 1.53;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                user-select: none;
                border: 1px solid transparent;
                padding: 0.4375rem 1.25rem;
                font-size: 0.9375rem;
                border-radius: 0.375rem;
                transition: all 0.2s ease-in-out;
            }

