@model RouteMaster.Models.EFModels.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h3>Accomodation Details</h3>
    <br />
</div>
<div>

    <h3>Activities Details</h3>

    @{Html.RenderAction("IndexDapper", new { id = Model.Id }); }
    @*@{Html.RenderAction("IndexDapper", new { orderId = Model.OrderId });}*@

    <br />
</div>
<div>
    <h3>ExtraService Details</h3>
    @{Html.RenderAction("ExtraServicesDetailsPartialView", new {id = Model.Id});}

</div>
   